* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.table-trainer {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid grey;
}
.trainersList {
  list-style: none;
  padding: 0;
}
.button {
  margin: 10px;
}
