* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

// .table-trainer {
//   padding: 10px 0 10px 0;
//   border-bottom: 1px solid grey;
// }
// .trainersList {
//   list-style: none;
//   padding: 0;
// }
.button {
  margin: 10px;
}
.alert {
  font-size: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

// .results {
//   width: 1000px;
//   border: 1px solid grey;
// }

// .cards {
//   padding: 20px;
//   background-color: red;
//   display: flex;
//   @media (max-width: 900px) {
//     flex-wrap: wrap;
//   }
//   // justify-content: center;
//   // flex-wrap: inherit;
// }

.card-columns {
  // background-color: red;
  border: 1px solid grey;
  @media (min-width: 576px) {
    column-count: 2 !important;
    padding: 20px !important;
    max-width: 900px !important;
  }
}
