* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.button {
  margin: 10px;
}
.btn-circle {
  width: 25px;
  height: 25px;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.alert {
  font-size: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.card-columns {
  padding: 20px !important;
  border: 1px solid #dee2e6;
  @media (min-width: 576px) {
    column-count: 2 !important;
    max-width: 900px !important;
  }
}

.tooltip {
  width: fit-content !important;
}

.clienAsign {
  margin: 0px;
}
.progressbar {
  margin-bottom: 20px;
}

.sufplaces {
  margin: 200px 10px 0 10px !important;
  text-align: center;
}

.valoration {
  padding: 20px !important;
  border: 1px solid #dee2e6;
  text-align: center;
  @media (min-width: 576px) {
    max-width: 900px !important;
  }
}

.solutionText {
  font-size: 14px;
  text-align: left;
}
